# PhonePe V2 Credentials
PHONEPE_CLIENT_ID=
PHONEPE_CLIENT_SECRET=
PHONEPE_CLIENT_VERSION=1
PHONEPE_MERCHANT_ID=
PHONEPE_ENV=production
PHONEPE_CALLBACK_URL=http://localhost:3000/api/payment/callback
APP_BASE_URL=http://localhost:3000
